/* #06283D
#1363DF
#47B5FF
#DFF6FF */

/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wdth,wght@98,492&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #74ebd5, #acb6e5);
}

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}


/* Custom Css */

.container {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
  }
  
  header {
    position: relative;
    z-index: 70;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .overlay {
    display: none;
  }
.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .logo img {
      width: 116px;
      margin-right: 2.6rem;
      margin-top: 1rem;
  }
  
  .logo h3 {
    margin-top: 1rem;

    position: relative;
    color: var(--darkTwo);
    font-size: 3.55rem;
    line-height: 1.2;
    font-weight: 700;
  }

.question {
    padding: 1rem;
    width: 70%;
    height: 50%;
    margin: 0 auto;
    background: linear-gradient(to right, rgb(151, 227, 255), rgb(84, 164, 255));
    border-radius: 30px;
    /* box-shadow: 0.5px 2px 10px #000; */
}

.question-label {
    font-size: 4rem;
    font-family: 'Ubuntu', sans-serif; 
    display: inline-block;
    margin-bottom: 2rem;
    text-align: center;
}

.option-lable {
    font-size: 2.25rem;
    display: inline-block;
    margin: 0 0 1.1rem 1.1rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.options {
    margin: 0 0 0 2rem;
}

input[type="Submit"] {
    margin: 0 0 2rem 2.5rem;
}

.carousel-control-prev {
    display: none;
}

/* bootstrap css */

.carousel {
    margin: 10px 0 0;
}

.carousel-control-prev, .carousel-control-next {
    height: 100%;
}